*{
    margin:0;
    padding:0;
  }
body{
       background-image:linear-gradient(to left,rgba(255,0,0,1),rgba(255,0,0,0));
       padding: 25px;
    }
   
 .hero-image{
         float:right;
         height: 500px;
         width: 500px;
          }
          img{
            height: 100%;
            width:100%;
            margin:15px;
          }

.navbar{
          height:80px;
          width:100%;
          background:rgba(0,0,0,0.4);
}
.navbar ul{
               float:right;
               margin-right:20px;
               
           }
.navbar ul li{
                list-style:none;
                 margin:0 8px;
                 display:inline-block;
                 line-height:80px;
                 
                 }
.navbar ul li a{
                 text-decoration:none;
                  color:white;
                  font-size:20px;
                   padding:9px 40px;
                   font-weight:900px;
                }
.navbar ul li a.active,
.navbar ul li a:hover{
                    background:red;
                    border-radius:2px;
                 }
.row-tab{
          font-size:20px;
          text-align:center;
          }
.row-tab p{
            text-align:left;
           }
.wrapper{
          font-size:20px;
          text-align:center;
          }
.wrapper p{
            text-align:left;
           }
.serve{
          font-size:20px;
          text-align:center;
          }
.serve p{
            text-align:left;
           }
.serve ol{
           text-align:left;
           color:#FF0000;
           margin-left: 10%;
          
          }  
.contact p{
            font-size:23px;
           }
.buttons button{
            text-decoration:none;
            height:50px;
            width:150px;
            font-size:18px;
            font-weight:bold;
            color:white;
            background:red;
            
            border:1px solid #cc0000;
             outline:none;
             border-radius:25px;
         }
.buttons button:hover{
             background:#cc0000;
                }
                      

  
 
                @media screen and (min-width: 480px) {
           .navbar ul li a{
                             font-size:15px;
                           }
                  }